<div class="all-itens">


  <!-- Botoes topo de adição -->
  <section>
    <div class="example-button-row">
      <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
      <button class="button-opcoes" mat-fab extended color="primary" (click)="abrirModalAlerta(null)">
        <mat-icon>add</mat-icon>
        Novo Alerta
      </button>

      <button class="button-opcoes" mat-fab extended color="primary">
        <mat-icon>play_arrow</mat-icon>
        Iniciar Todos
      </button>

      <button class="button-opcoes" mat-fab extended color="warn">
        <mat-icon>stop</mat-icon>
        Parar Todos
      </button>

    </div>
  </section>


  <table mat-table #tabelaAlertas [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>edit</mat-icon>
        <button mat-icon-button aria-label="expand row"
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <span class="mensagem-do-alerta">Mensagem do alerta:</span>
            <p>{{element.mensagem}}</p>
            <span class="mensagem-do-alerta">Arquivo:</span>
            <p>{{element.urlImagem}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>




</div>