<h1 *ngIf="!isChange" mat-dialog-title>Alerta</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar</h1>
<div mat-dialog-content>
  <!--<p>What's your favorite animal?</p>-->
  <mat-form-field appearance="fill">
    <mat-label>Canal</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>mensagem</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.weight">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="data.symbol">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cron</mat-label>
    <input matInput [(ngModel)]="data.cron">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>
